{% extends 'base.html' %}
{% load static %}
{% block bodyblock %}


		<!-- ============================ Booking Page ================================== -->
		<section class="pt-5 gray-simple position-relative">
			<div class="container">

				

				<div class="row align-items-start justify-content-between gx-xl-4">

					
					<div class="col-xl-8 col-lg-8 col-md-12 mx-auto">

						<!-- Personal Information -->
						<form method="post" action="{% url 'myprofilePage' %}" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="card mb-4">
								<div class="card-header">
									<h4><i class="fa-solid fa-file-invoice me-2"></i>Personal Information</h4>
								</div>
								<div class="card-body">
									<div class="row align-items-center justify-content-start">

										<div class="col-xl-12 col-lg-12 col-md-12 mb-4">
											<div class="d-flex align-items-center">
												<label class="position-relative me-4" for="userImage" title="Replace this pic">
													<!-- Avatar place holder -->
													<span class="avatar avatar-xl">
														<img id="userImage-preview"
															class="avatar-img rounded-circle border border-white border-3 shadow" src="{{userDetails.user_image}}"
															alt="">
													</span>
												</label>
												<!-- Upload button -->
												<label class="btn btn-sm btn-light-primary px-4 fw-medium mb-0" for="userImage">Change</label>
												<input id="userImage" name = "userImage" class="form-control d-none" type="file">
											</div>
										</div>

										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="form-group">
												<label class="form-label">First Name</label>
												<input type="text" id="user_id" name="user_id" class="form-control" placeholder="" value="{{ userDetails.user_id }}" hidden/>
												{% if userDetails.user_firstname %}
												<input type="text" id = "userFirstName" Name = "userFirstName" class="form-control" value="{{userDetails.user_firstname}}">
												{% else %}
												<input type="text" id = "userFirstName" Name = "userFirstName" class="form-control" value="">
												{% endif %}
											</div>
										</div>

										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="form-group">
												<label class="form-label">Last Name</label>
												{% if userDetails.user_lastname %}
												<input type="text" id = "userLastName" Name = "userLastName" class="form-control" value="{{userDetails.user_lastname}}">
												{% else %}
												<input type="text" id = "userLastName" Name = "userLastName" class="form-control" value="">
												{% endif %}
											</div>
										</div>

										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="form-group">
												<label class="form-label">Username</label>
												{% if userDetails.user_username %}
												<input type="text" id = "userName" Name = "userName" class="form-control" value="{{userDetails.user_username}}">
												{% else %}
												<input type="text" id = "userName" Name = "userName" class="form-control" value="">
												{% endif %}
											</div>
										</div>

										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="form-group">
												<label class="form-label">Email ID</label>
												{% if userDetails.user_email %}
												<input type="text" id = "userEmail" Name = "userEmail" class="form-control" value="{{userDetails.user_email}}">
												{% else %}
												<input type="text" id = "userEmail" Name = "userEmail" class="form-control" value="">
												{% endif %}
											</div>
										</div>

										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="form-group">
												<label class="form-label">Mobile</label>
												{% if userDetails.user_mobile %}
												<input type="text" id = "userMobile" Name = "userMobile" class="form-control" value="{{userDetails.user_mobile}}">
												{% else %}
												<input type="text" id = "userMobile" Name = "userMobile" class="form-control" value="">
												{% endif %}
											</div>
										</div>

										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="form-group">
												<label class="form-label">Date of Birth</label>
												{% if userDetails.user_dateofbirth %}
												<input type="Date" id = "userDateOfBirth" Name = "userDateOfBirth" class="form-control" value="{{userDetails.user_dateofbirth}}">
												{% else %}
												<input type="Date" id = "userDateOfBirth" Name = "userDateOfBirth" class="form-control" value="">
												{% endif %}
											</div>
										</div>

										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="form-group">
												<label class="form-label">Gender</label>
												{% if userDetails.user_gender %}
												<input type="text" id = "userGender" Name = "userGender" class="form-control" value="{{userDetails.user_gender}}">
												{% else %}
												<input type="text" id = "userGender" Name = "userGender" class="form-control" value="">
												{% endif %}
											</div>
										</div>

										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="form-group">
												<label class="form-label">City</label>
												{% if userDetails.user_city %}
												<input type="text" id = "userCity" Name = "userCity" class="form-control" value="{{userDetails.user_city}}">
												{% else %}
												<input type="text" id = "userCity" Name = "userCity" class="form-control" value="">
												{% endif %}
											</div>
										</div>

										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="form-group">
												<label class="form-label">State</label>
												{% if userDetails.user_state %}
												<input type="text" id = "userState" Name = "userState" class="form-control" value="{{userDetails.user_state}}">
												{% else %}
												<input type="text" id = "userState" Name = "userState" class="form-control" value="">
												{% endif %}
											</div>
										</div>

										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="form-group">
												<label class="form-label">Country</label>
												<input type="password" id = "userPassword" name = "userPassword"class="form-control" value="{{userDetails.user_password}}" hidden>
												{% if userDetails.user_country %}
												<input type="text" id = "userCountry" Name = "userCountry" class="form-control" value="{{userDetails.user_country}}">
												{% else %}
												<input type="text" id = "userCountry" Name = "userCountry" class="form-control" value="">
												{% endif %}
											</div>
										</div>
										
										
											


										<div class="form-group">
											<button type="submit" id="submit" name="submit" class="btn btn-primary full-width font--bold btn-lg">Save Change</button>
										</div>
									</div>
								</div>
							</div>
							
						</form>
					</div>

				</div>
			</div>
		</section>
		<!-- ============================ Booking Page End ================================== -->


		<!-- Print Invoice -->
		<div class="modal modal-lg fade" id="invoice" tabindex="-1" role="dialog" aria-labelledby="invoicemodal"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered invoice-pop-form" role="document">
				<div class="modal-content" id="invoicemodal">
					<div class="modal-header">
						<h4 class="modal-title fs-6">Download your invoice</h4>
						<a href="#" class="text-muted fs-4" data-bs-dismiss="modal" aria-label="Close"><i
								class="fa-solid fa-square-xmark"></i></a>
					</div>
					<div class="modal-body">
						<div class="invoiceblock-wrap p-3">
							<!-- Header -->
							<div class="invoice-header d-flex align-items-center justify-content-between mb-4">
								<div class="inv-fliop01 d-flex align-items-center justify-content-start">
									<div class="inv-fliop01">
										<div class="square--60 circle bg-light-primary text-primary"><i
												class="fa-solid fa-file-invoice fs-2"></i></div>
									</div>
									<div class="inv-fliop01 ps-3">
										<span class="text-uppercase d-block fw-semibold text-md text-dark lh-2 mb-0">Invoice #3256425</span>
										<span class="text-sm text-muted lh-2"><i class="fa-regular fa-calendar me-1"></i>Issued Date 12 Jul
											2023</span>
									</div>
								</div>
								<div class="inv-fliop02"><span class="label text-success bg-light-success">Paid</span></div>
							</div>

							<!-- Invoice Body -->
							<div class="invoice-body">

								<!-- Invoice Top Body -->
								<div class="invoice-bodytop">
									<div class="row align-items-start justify-content-between">
										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="invoice-desc mb-2">
												<h6>From</h6>
												<p class="text-md lh-2 mb-0">#782 Baghambari, Poudery Colony<br>Shivpuras Town,
													Canada<br>QBH230542 USA</p>
											</div>
										</div>
										<div class="col-xl-5 col-lg-5 col-md-6">
											<div class="invoice-desc mb-2">
												<h6>To</h6>
												<p class="text-md lh-2 mb-0">Dhananjay Verma/ Brijendra Mani<br>220 K.V Jail Road Hydel
													Colony<br>271001 Gonda, UP</p>
											</div>
										</div>
									</div>
								</div>

								<!-- Invoice Mid Body -->
								<div class="invoice-bodymid py-2">
									<ul class="gray rounded-3 p-3 m-0">
										<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 py-1">
											<span class="fw-medium text-sm text-muted-2 mb-0">Account No.:</span>
											<span class="fw-semibold text-muted-2 text-md">************4562</span>
										</li>
										<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 py-1">
											<span class="fw-medium text-sm text-muted-2 mb-0">Reference ID:</span>
											<span class="fw-semibold text-muted-2 text-md">#2326524</span>
										</li>
										<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 py-1">
											<span class="fw-medium text-sm text-muted-2 mb-0">Pay by:</span>
											<span class="fw-semibold text-muted-2 text-md">25 Aug 2023</span>
										</li>
									</ul>
								</div>

								<!-- Invoice bott Body -->
								<div class="invoice-bodybott py-2 mb-2">
									<div class="table-responsive border rounded-2">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">Item</th>
													<th scope="col">Price</th>
													<th scope="col">Qut.</th>
													<th scope="col">Total Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">king Bed in Royal Resort</th>
													<td>$514</td>
													<td>03</td>
													<td>$514</td>
												</tr>
												<tr>
													<th scope="row">Breakfast for 3</th>
													<td>$214</td>
													<td>03</td>
													<td>$214</td>
												</tr>
												<tr>
													<th scope="row">Tax & VAT</th>
													<td>$78</td>
													<td>-</td>
													<td>$772.40</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<div class="invoice-bodyaction">
									<div class="d-flex text-end justify-content-end align-items-center">
										<a href="#" class="btn btn-sm btn-light-success fw-medium me-2">Download Invoice</a>
										<a href="#" class="btn btn-sm btn-light-primary fw-medium me-2">Print Invoice</a>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal -->
{% endblock %}