{% extends 'base.html' %}
{% load static %}
{% block bodyblock %}


		<!-- ============================ Booking Page ================================== -->
		<section class="pt-5 gray-simple position-relative">
			<div class="container">

				

				<div class="row align-items-start justify-content-between gx-xl-4">

					
					<div class="col-xl-8 col-lg-8 col-md-12 mx-auto">
                        <!-- Personal Information -->
                        <form method="post" action="{% url 'myprofilepasswordPage' %}" >
                            {% csrf_token %}
                            {% if error != '' %}
                                <p class="error_box">{{ error }}</p>
                            {% endif %}
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4><i class="fa-solid fa-file-invoice me-2"></i>Personal Information</h4>
                                </div>
                                <div class="card-body">
                                    <!-- Existing fields... -->
                                    
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Old Password</label>
                                            <input type="text" id="user_id" name="user_id" class="form-control" placeholder="" value="{{ userDetails.user_id }}" hidden/>
                                            <input type="password" id="oldPassword" name="oldPassword" class="form-control" required>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">New Password</label>
                                            <input type="password" id="newuserPassword" name="newuserPassword" class="form-control" required>
                                            <span id="errorpassword" class="error" style="color: rgb(202, 60, 60); font-size: 16px; font-weight: 600; letter-spacing: 1px;"></span>

                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Confirm New Password</label>
                                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                                            <span id="errorpassword" class="error" style="color: rgb(202, 60, 60); font-size: 16px; font-weight: 600; letter-spacing: 1px;"></span>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" id="submit" name="submit" class="btn btn-primary full-width font--bold btn-lg">Save Change</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

				</div>
			</div>
		</section>
		<!-- ============================ Booking Page End ================================== -->
        <script>
            // Function to validate password and confirm password fields
            function validatePassword() {
                var password = document.getElementById("newuserPassword").value;
                var confirmPassword = document.getElementById("confirmPassword").value;
            
                // Check if password and confirm password fields match
                if (password !== confirmPassword) {
                $('#errorpassword').text('Passwords do not match'); // Set error message
                return false; // Return false to prevent form submission
                } else {
                $('#errorpassword').text(''); // Clear the error message
                return true; // Return true to allow form submission
                }
            }
          
            // Add event listener to form submission
            document.querySelector("form").addEventListener("submit", function(event) {
                // Call the validatePassword function before form submission
                if (!validatePassword()) {
                    event.preventDefault(); // Prevent form submission if validation fails
                }
            });
        </script>
{% endblock %}
