{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DreamTrip - Tour & Travel Booking Agency HTML Template | ThemezHub</title>
  <link rel="icon" type="image/x-icon" href="{% static 'frontend_static/assets/img/favicon.png' %}">

  <!-- All Plugins -->
  <link href="{% static 'frontend_static/assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend_static/assets/css/animation.css' %}" rel="stylesheet">
  <link href="{% static 'frontend_static/assets/css/dropzone.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend_static/assets/css/flatpickr.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend_static/assets/css/flickity.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend_static/assets/css/lightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend_static/assets/css/magnifypopup.css' %}" rel="stylesheet">
  <link href="{% static 'frontend_static/assets/css/select2.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend_static/assets/css/rangeSlider.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend_static/assets/css/prism.css' %}" rel="stylesheet">

  <!-- Fontawesome & Bootstrap Icons CSS -->
  <link href="{% static 'frontend_static/assets/css/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'frontend_static/assets/css/fontawesome.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'frontend_static/assets/css/style.css' %}" rel="stylesheet">
</head>

<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css' %} -->
	<!-- ============================================================== -->
	<div id="preloader">
		<div class="preloader"><span></span><span></span></div>
	</div>

	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper">

		<!-- ============================== Login Section ================== -->
		<section class="py-5">
			<div class="container">

				<div class="row justify-content-center align-items-center m-auto">
					<div class="col-12">
						<div class="bg-mode shadow rounded-3 overflow-hidden">
							<div class="row g-0">
								<!-- Vector Image -->
								<div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
									<div class="p-3 p-lg-5">
										<img src="{% static 'frontend_static/assets/img/login.svg' %}" class="img-fluid" alt="">
									</div>
									<!-- Divider -->
									<div class="vr opacity-1 d-none d-lg-block"></div>
								</div>

								<!-- Information -->
								<div class="col-lg-6 order-1">
									<div class="p-4 p-sm-7">
										<!-- Logo -->
										<a href="{% url 'indexPage' %}">
											<img class="img-fluid mb-4" src="{% static 'frontend_static/assets/img/logo_dream.png' %}" width="100" alt="logo">
										</a>
										<!-- Title -->
										<h1 class="mb-2 fs-2">Create New Account</h1>
										<p class="mb-0">Already a Member?<a href="{% url "loginPage" %}" class="fw-medium text-primary"> Signin</a></p>

										<!-- Form START -->
										<form class="mt-4 text-start" method="POST" action="{% url 'signupPage' %}">{% csrf_token %}
											{% if error != '' %}
												<p class="error_box">{{ error }}</p>
											{% endif %}
											<div class="form py-4">
												<div class="form-group">
													<label>First Name</label>
													<input type="text" class="form-control" placeholder="Enter Your First Name" id="userFirstName" name="userFirstName" required="required">
												</div>
						
												<div class="form-group">
													<label>Last Name</label>
													<input type="text" class="form-control" placeholder="Enter Your Last Name" id="userLastName" name="userLastName" required="required">
												</div>

												<div class="form-group">
													<label>User Name</label>
													<input type="text" class="form-control" placeholder="Enter Your Username" id="userName" name="userName" required="required">
												</div>

												<div class="form-group">
													<label class="form-label">Enter email ID</label>
													<input type="email" class="form-control" placeholder="name@example.com" id ="userEmail" name="userEmail" required="required">
												</div>
												<div class="form-group">
													<label class="form-label">Enter Password</label>
													<div class="position-relative">
														<input type="password" class="form-control" id="userPassword" name="userPassword"
															placeholder="Password" required="required">
														
													</div>
												</div>

												<div class="form-group">
													<label class="form-label">Confirm Password</label>
													<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="*********" required="required">
													<span id="errorpassword" class="error" style="color: rgb(202, 60, 60); font-size: 16px; font-weight: 600; letter-spacing: 1px;"></span>
												</div>

												<div class="form-group">
													<button type="submit" id="submit" name="submit" class="btn btn-primary full-width font--bold btn-lg">Create An
														Account</button>
												</div>

												
												</div>
											</div>

											<!-- Divider -->
											<div class="prixer px-3">
												<div class="devider-wraps position-relative">
													<div class="devider-text text-muted-2 text-md">Sign-Up with Socials</div>
												</div>
											</div>

											<!-- Google and facebook button -->
											<div class="social-login py-4 px-md-2">
												<ul class="row align-items-center justify-content-center g-3 p-0 m-0">
													<li class="col"><a href="#" class="square--60 border br-dashed rounded-2 mx-auto"><i
																class="fa-brands fa-facebook color--facebook fs-2"></i></a></li>
													<li class="col"><a href="#" class="square--60 border br-dashed rounded-2 mx-auto"><i
																class="fa-brands fa-whatsapp color--whatsapp fs-2"></i></a></li>
													<li class="col"><a href="#" class="square--60 border br-dashed rounded-2 mx-auto"><i
																class="fa-brands fa-linkedin color--linkedin fs-2"></i></a></li>
													<li class="col"><a href="#" class="square--60 border br-dashed rounded-2 mx-auto"><i
																class="fa-brands fa-dribbble color--dribbble fs-2"></i></a></li>
													<li class="col"><a href="#" class="square--60 border br-dashed rounded-2 mx-auto"><i
																class="fa-brands fa-twitter color--twitter fs-2"></i></a></li>
												</ul>
											</div>

											
										</form>
										<!-- Form END -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- ============================== Login Section End ================== -->

	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->


	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="{% static 'frontend_static/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontend_static/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontend_static/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontend_static/assets/js/dropzone.min.js' %}"></script>
    <script src="{% static 'frontend_static/assets/js/flatpickr.js' %}"></script>
    <script src="{% static 'frontend_static/assets/js/flickity.pkgd.min.js' %}"></script>
    <script src="{% static 'frontend_static/assets/js/lightbox.min.js' %}"></script>
    <script src="{% static 'frontend_static/assets/js/rangeslider.js' %}"></script>
    <script src="{% static 'frontend_static/assets/js/select2.min.js' %}"></script>
    <script src="{% static 'frontend_static/assets/js/counterup.min.js' %}"></script>
    <script src="{% static 'frontend_static/assets/js/prism.js' %}"></script>

	<script src="{% static 'frontend_static/assets/js/custom.js' %}"></script>
	<!-- ============================================================== -->
	<!-- This page plugins -->
	<!-- ============================================================== -->
	<script>
		// Function to validate password and confirm password fields
		function validatePassword() {
			var password = document.getElementById("userPassword").value;
			var confirmPassword = document.getElementById("confirmPassword").value;
		
			// Check if password and confirm password fields match
			if (password !== confirmPassword) {
			$('#errorpassword').text('Passwords do not match'); // Set error message
			return false; // Return false to prevent form submission
			} else {
			$('#errorpassword').text(''); // Clear the error message
			return true; // Return true to allow form submission
			}
		}
	  
		// Add event listener to form submission
		document.querySelector("form").addEventListener("submit", function(event) {
			// Call the validatePassword function before form submission
			if (!validatePassword()) {
				event.preventDefault(); // Prevent form submission if validation fails
			}
		});
	</script>
	  
</body>
</html>